# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitHub Repositories\CPE-Practice-Code\UVA 11321 Sort Sort Sort\.idea/dataSources/
/dataSources.local.xml
