# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitHub Repositories\CPE-Practice-Code\UVA 10101 Bangla Numbers\.idea/dataSources/
/dataSources.local.xml
