# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitHub Repositories\CPE-Practice-Code\UVA 10420 List Of Conquest\.idea/dataSources/
/dataSources.local.xml
